<div class="fxLayout hero-image">
  <div style="width: 100%; flex: 1 1 100%; box-sizing: border-box; max-height: 30%;">
    <div class="container">
      <div class="row">
        <div class="col-8 left_col8" style="margin-top: 40px;">
          <span style="font-size: 30px; font-family: Prompt,sans-serif; color: ghostwhite;">สไปเดอร์แมน : โน เวย์
            โฮม</span>
          <span style="font-size: 16px; font-family: Prompt,sans-serif; color: ghostwhite; margin-top: 10px;">หมวดหมู่:
            Action, Adventure, Drama | เรทผู้ชม: 13 | 160 นาที | วันที่เข้าฉาย: 09 พฤศจิกายน 2022</span>
          <div style="margin-top: 10px;">
            <button class="ticket"
              style="font-size: 13px; font-family: Prompt,sans-serif; color: ghostwhite; height: 45px;"
              mat-raised-button> <span>จองตั๋วภาพยนต์ &nbsp;&nbsp;&nbsp; <mat-icon class="icon">movie</mat-icon></span>
            </button>
          </div>
        </div>
        <div class="col-4 le left_col4">
          <span class="label">Watch the Trailer</span>
          <p class="one" style="margin-top: 10px;"> <iframe width="250" height="150"
              src="https://www.youtube.com/embed/Tlgt3xUKFxo" title="Spider-Man: No Way Home | Official Trailer ซับไทย"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div style="margin-top: 50px;">
    <mat-card class="example-card">
      <div class="row">
        <div class="col-2">
          <p class="two">
            <img class="photo" style="margin-top: 12px;"
              src="https://lh3.googleusercontent.com/_b47Tr-2XaKMty_Dd4m2eKvXFlljklTN9SFbKSxfua-JcsCGd03WoKXGiIJJTfOYJMoW4WM3ZyTZUJDI3Ei44X2PVlDjNciqeg=w260"
              alt="">
          </p>
        </div>
        <div class="col-10" style="float: left;">
          <div class="example-card1">
            <span class="text">
              สไปเดอร์แมน : โน เวย์ โฮม
            </span>
            <span class="label_text">
              วันที่เข้าฉาย: 23 ธันวาคม 2021
            </span>
            <span class="label_text">
              หมวดหมู่: Action, Adventure, Sci - Fi | เรทผู้ชม: G | 150 นาที
            </span>
            <span class="label_text">
              ผู้กำกับ: Jon Watts
            </span>
            <span class="label_text" style="margin-top: 55px;">
              นักแสดง
            </span>
            <p>
              <img
                src="https://lh3.googleusercontent.com/r_oHTQTbGXeMFlQSGTr_WX_IJQ7cdct0SDnU7DQEj3lCZOZB0uA2289M_3AW82pjOGlFU1pcvLqj_KtQOQYQ=w100"
                width="100px" height="120px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img
                src="https://lh3.googleusercontent.com/j4_IxMuOaPekymGwbacYO33kIaqcc_NheVmhqQLq29P6LycL4wBQHa6wReDx0qGA4RFi2VIauqtkev5tVH7O=w100"
                width="100px" height="120px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img
                src="https://lh3.googleusercontent.com/xwhaNJhgzDdc6gNTn-3pEs3VLJx2hhHviV2HJMl82NCEO8MiO3DUsxb6PIrdBcBG4qkPR-BU1UMeGxJYR-iv7etnK4FcsrKD=w100"
                width="100px" height="120px" alt="">
            </p>
            <span>
              Benedict Cumberbatch&nbsp;&nbsp;&nbsp; Tom Holland
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zendaya
            </span>
          </div>
        </div>
      </div>
    </mat-card>
    <div class="row" style="margin-top: 50px;">
      <div class="col-2 SYNOPSIS">
        SYNOPSI
      </div>

    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-9 SYNOPSIS">
        <p>
          หลังจากถูกเปิดเผยตัวตนที่แท้จริง ความรับผิดชอบอันยิ่งใหญ่ของการเป็นซูเปอร์ฮีโร่
          ขัดแย้งกับการดำเนินชีวิตแบบธรรมดาของเขาและทำให้คนที่เขารักตกอยู่ในอันตราย
          เขาจึงได้ไปขอความช่วยเหลือจากด็อกเตอร์สเตรนจ์เพื่อใช้เวทมนต์ทำให้ทุกคนลืมตัวตนจริงของ สไปเดอร์-แมน
          แต่แล้วได้เกิดเหตุการณ์ระหว่างร่ายมนต์ทำให้ส่งผลกระทบกับมัลติยูนิเวิรส์ปลดปล่อยอสรุกายร้ายที่เคยต่อกรกับ
          สไปเดอร์-แมนในพหุภพต่างๆ ออกมา ปีเตอร์ พารค์เกอร์ (ทอม ฮอลแลนด์)
          จะต้องลุกขึ้นสู้กับอุปสรรคอันใหญ่หลวงครั้งนี้ที่จะเปลี่ยนแปลงไม่ใช่แค่ชีวิตเขา แต่รวมถึงอนาคตของพหุภพต่างๆ
          อีกด้วย
        </p>
      </div>
    </div>
    <div class="centerrow" style="margin-top: 20px;">
      <span style="font-size: 16px; font-family: Prompt, sans-serif;">TRAILER</span>
    </div>
    <div class="row " style="margin-top: 50px;">
      <div class="col-12 centerrow">
        <iframe width="600" height="300" src="https://www.youtube.com/embed/Tlgt3xUKFxo"
          title="Spider-Man: No Way Home | Official Trailer ซับไทย" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
