<mat-toolbar class="fxLayout drak"
style="
  width: 100%;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: ghostwhite;"
  >
  <div class="fxLayout" style="flex-direction: row; align-items: center;">
    <mat-icon>movie</mat-icon>
    <span>&nbsp;Movie Lover</span>
  </div>

  <div>
    <button mat-flat-button style="background-color: rgb(0, 0, 0); color: ghostwhite;" [routerLink]="['..']">
      Home</button>
    <button mat-flat-button [matMenuTriggerFor]="menu" style="background-color: black; color: ghostwhite;">Favorite Movies
    </button>
    <mat-menu #menu="matMenu">
      <button
      mat-menu-item
      [routerLink]="['/movie',{ outlets: { movieoutlet:['blackadam']}}]"
      >Black Adam
      </button>
      <button
      mat-menu-item
      [routerLink]="['/movie',{ outlets: { movieoutlet:['blackpanther']}}]"
      >Black Panther
      </button>
      <button
      mat-menu-item
      [routerLink]="['/movie',{ outlets: { movieoutlet:['spiderman']}}]"
      >Spider-Man
      </button>
      </mat-menu>
    <button mat-flat-button style="background-color: black ; color: ghostwhite;">Box office</button>
    <button mat-flat-button style="background-color: black; color: ghostwhite;">About us</button>
  </div>

</mat-toolbar>
