<div class="fxLayout hero-image">
  <div style="width: 100%; flex: 1 1 100%; box-sizing: border-box; max-height: 30%;">
    <div class="container">
      <div class="row">
        <div class="col-8 left_col8" style="margin-top: 40px;">
          <span style="font-size: 30px; font-family: Prompt,sans-serif; color: ghostwhite;">แบล็ค แพนเธอร์ :
            วาคานด้าจงเจริญ</span>
          <span style="font-size: 16px; font-family: Prompt,sans-serif; color: ghostwhite; margin-top: 10px;">หมวดหมู่:
            Action, Adventure, Drama | เรทผู้ชม: 13 | 160 นาที | วันที่เข้าฉาย: 09 พฤศจิกายน 2022</span>
          <div style="margin-top: 10px;">
            <button class="ticket"
              style="font-size: 13px; font-family: Prompt,sans-serif; color: ghostwhite; height: 45px;"
              mat-raised-button> <span>จองตั๋วภาพยนต์ &nbsp;&nbsp;&nbsp; <mat-icon class="icon">movie</mat-icon></span>
            </button>
          </div>
        </div>
        <div class="col-4 le left_col4">
          <span class="label">Watch the Trailer</span>
          <p class="one" style="margin-top: 10px;"> <iframe width="250" height="150"
              src="https://www.youtube.com/embed/ZA1IimxoVo0"
              title="ตัวอย่างใหม่ของ Marvel Studios #BlackPanther: #WakandaForever #แบล็คแพนเธอร์: #วาคานด้าจงเจริญ"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div style="margin-top: 50px;">
    <mat-card class="example-card">
      <div class="row">
        <div class="col-2">
          <p class="two">
            <img class="photo" style="margin-top: 12px;"
              src="https://lh3.googleusercontent.com/YhjYDQuBCU8pxmwNGugrs8Tl644hXmu6rCq_6TG-bHHuLt9Bn4T1-eF2KETpFX2n1Xwr5Ykn-rW3l_4xtmuVCiX6cxeP4QgvZuA=w260"
              alt="">
          </p>
        </div>
        <div class="col-10" style="float: left;">
          <div class="example-card1">
            <span class="text">
              แบล็ค แพนเธอร์ : วาคานด้าจงเจริญ
            </span>
            <span class="label_text">
              วันที่เข้าฉาย: 09 พฤศจิกายน 2022
            </span>
            <span class="label_text">
              หมวดหมู่: Action, Adventure, Drama | เรทผู้ชม: 13 | 160 นาที
            </span>
            <span class="label_text">
              ผู้กำกับ: Ryan Coogler
            </span>
            <span class="label_text" style="margin-top: 55px;">
              นักแสดง
            </span>
            <p>
              <img
                src="https://m.media-amazon.com/images/M/MV5BN2QwNmE4Y2YtZjNkMS00NDAzLTliYTgtYTgyZDYyMTcwYTM4XkEyXkFqcGdeQXVyMTE1MTYxNDAw._V1_UX214_CR0,0,214,317_AL_.jpg"
                width="81px" height="120px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img
                src="https://m.media-amazon.com/images/M/MV5BMjIyMzgxMzc5N15BMl5BanBnXkFtZTgwNDg3NzYzMDI@._V1_UY317_CR47,0,214,317_AL_.jpg"
                width="81px" height="120px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img
                src="https://m.media-amazon.com/images/M/MV5BNjYyNjg1OTU1M15BMl5BanBnXkFtZTgwNzYyNTkzMDI@._V1_UX214_CR0,0,214,317_AL_.jpg"
                width="81px" height="120px" alt="">
            </p>
            <span>
              &nbsp;&nbsp;&nbsp;&nbsp; Tenoch Huerta &nbsp;&nbsp;&nbsp;Letitia Wright &nbsp;&nbsp;&nbsp;&nbsp; Danai
              Gurira
            </span>
          </div>
        </div>
      </div>
    </mat-card>
    <div class="row" style="margin-top: 50px;">
      <div class="col-2 SYNOPSIS">
        SYNOPSI
      </div>

    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-9 SYNOPSIS">
        <p>
          ราชินีรามอนด้า (แองเจลา บาสเซตต์) ชูรี(เลทิเทีย ไรท์) เอ็มบาคู(วินสตัน ดุ๊ก) โอโคเย (ดาไน กูริรา) และ โดรา
          มิลาเจ (รวมไปถึง ฟลอเรนซ์ คาซัมบา)
          จะต้องร่วมต่อสู้เพื่อปกป้องประเทศของพวกเขาจากการแทรกแซงทางอำนาจหลังการสวรรคตของกษัตริย์ทีชัลล่าในระหว่างที่ชาววาคานด้าพยายามอย่างหนักเพื่อที่จะก้าวต่อไป
          เหล่าฮีโร่จึงต้องร่วมมือกัน ด้วยความช่วยเหลือของวอร์ด็อกนาเคีย (ลูพีตา ญองอ) และ เอเวอเร็ตต์ รอสส์ (มาร์ติน
          ฟรีแมน) ในการสร้างเส้นทางใหม่ให้กับวานคานด้า โดยการนำ เตนอช เวร์ตา มารับบทเป็นเนมอร์
          กษัตริย์แห่งอาณาจักรลับใต้ท้องทะเล
        </p>
      </div>
    </div>
    <div class="centerrow" style="margin-top: 20px;">
      <span style="font-size: 16px; font-family: Prompt, sans-serif;">TRAILER</span>
    </div>
    <div class="row " style="margin-top: 50px;">
      <div class="col-12 centerrow">
        <iframe width="600" height="350" src="https://www.youtube.com/embed/ZA1IimxoVo0"
        title="ตัวอย่างใหม่ของ Marvel Studios #BlackPanther: #WakandaForever #แบล็คแพนเธอร์: #วาคานด้าจงเจริญ"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
