<div class="fxLayout hero-image">
  <div style="width: 100%; flex: 1 1 100%; box-sizing: border-box; max-height: 30%;">
    <div class="container">
      <div class="row">
        <div class="col-8 left_col8" style="margin-top: 40px;">
          <span style="font-size: 30px; font-family: Prompt,sans-serif; color: ghostwhite;">แบล็ก อดัม</span>
          <span style="font-size: 16px; font-family: Prompt,sans-serif; color: ghostwhite; margin-top: 10px;">หมวดหมู่:
            Action, Adventure, Drama | เรทผู้ชม: 13 | 160 นาที | วันที่เข้าฉาย: 09 พฤศจิกายน 2022</span>
          <div style="margin-top: 10px;">
            <button class="ticket"
              style="font-size: 13px; font-family: Prompt,sans-serif; color: ghostwhite; height: 45px;"
              mat-raised-button> <span>จองตั๋วภาพยนต์ &nbsp;&nbsp;&nbsp; <mat-icon class="icon">movie</mat-icon></span>
            </button>
          </div>
        </div>
        <div class="col-4 le left_col4">
          <span class="label">Watch the Trailer</span>
          <p class="one" style="margin-top: 10px;"> <iframe width="250" height="150"
              src="https://www.youtube.com/embed/DpDBkeovU3Q" title="#BlackAdam #แบล็กอดัม | Official Trailer 2 ซับไทย"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div style="margin-top: 50px;">
    <mat-card class="example-card">
      <div class="row">
        <div class="col-2">
          <p class="two">
            <img class="photo" style="margin-top: 12px;"
              src="https://lh3.googleusercontent.com/Rw7FdGeHe-Ja-_AXJTbU-iDisgrOV1yfK7A8GeAJnIwG0vIHIEIiNUPd_zFhV6C3QnEhRALekyr_OAjrCaFs-SlyCnBmZzkS9w=w260"
              alt="">
          </p>
        </div>
        <div class="col-10" style="float: left;">
          <div class="example-card1">
            <span class="text">
              แบล็ก อดัม
            </span>
            <span class="label_text">
              วันที่เข้าฉาย: 09 พฤศจิกายน 2022
            </span>
            <span class="label_text">
              หมวดหมู่: Action, Adventure, Drama | เรทผู้ชม: 13 | 160 นาที
            </span>
            <span class="label_text">
              ผู้กำกับ: Ryan Coogler
            </span>
            <span class="label_text" style="margin-top: 55px;">
              นักแสดง
            </span>
            <p>
              <img
                src="https://lh3.googleusercontent.com/OtNn2Pz4MLsHj4NU0hlaumhwkP7yAYTfqHjDYHeK2N5RUnQpd835GdXPYcMsBtdmtgaDeSYQ6utdUvnmIMlI=w100"
                width="100px" height="120px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img
                src="https://lh3.googleusercontent.com/9WoIC4hv8AZSxq5Rr34a1gwGXq5CmXGUl_elDv0TIc5law4_TGrSnTOD_HFA2_E3_DLVwjNzURnsD3PscGs=w100"
                width="100px" height="120px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img
                src="https://lh3.googleusercontent.com/E-29ZaAd0bdzwZR1MOllOWFxafZkJVVt1SJlolJeEQ3CFJGc_89PdxiTVmkJcV_UaSVOntnXGDGoDLu1TLur=w100"
                width="100px" height="120px" alt="">
            </p>
            <span>
              &nbsp;&nbsp;&nbsp;&nbsp;Dwayne Johnson&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Pierce Brosnan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viola Davis
            </span>
          </div>
        </div>
      </div>
    </mat-card>
    <div class="row" style="margin-top: 50px;">
      <div class="col-2 SYNOPSIS">
        SYNOPSI
      </div>

    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-9 SYNOPSIS">
        <p>
          ที่คาห์นดักในอดีต เทธ อดัมได้รับพลังอันยิ่งใหญ่จากพระเจ้า แต่หลังจากใช้พลังนั้นไปกับการล้างแค้น
          เขาถูกกักขังและกลายเป็นแบล็ค อดัม เวลาผ่านไปเกือบ 5,000 ปี แบล็ค อดัมกลายร่างจากมนุษย์สู่เรื่องเล่าและตำนาน
          จนตอนนี้เขากลายเป็นสัญลักษณ์ของความยุติธรรมที่มาจากความโกรธแค้น
          และถูกฮีโร่รุ่นใหม่ในแวดวงแห่งความยุติธรรมเข้ามาท้าทาย ไม่ว่าจะเป็นฮอว์คแมน, ดร.เฟท, อะตอม สแมชเชอร์ และ
          ไซโคลน
        </p>
      </div>
    </div>
    <div class="centerrow" style="margin-top: 20px;">
      <span style="font-size: 16px; font-family: Prompt, sans-serif;">TRAILER</span>
    </div>
    <div class="row " style="margin-top: 50px;">
      <div class="col-12 centerrow">
        <iframe width="600" height="350" src="https://www.youtube.com/embed/DpDBkeovU3Q"
          title="#BlackAdam #แบล็กอดัม | Official Trailer 2 ซับไทย" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
